body {
  margin: 0;
}

header {
  background-color: red;
  overflow: auto;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: black;
  flex-shrink: 0;
}

nav a {
  background-color: red;
  color: black;
  padding: auto;
  margin: 1em;
  flex-direction: vertical;

}

nav a:hover {
  background-color: yellow;
    transition: background-color 0.7s;
}

section {
  background-color: yellow;
  overflow: auto;
}

main {
  display: flex;
  flex-direction: row-reverse;
}

#target {
  background-color: red;
  padding: 1em;
}
